* {
  font-family: 'Roboto', sans-serif;
}

.container-fluid {
  padding: 0;
}

.navbar {
  background-color: #db4c3f;
  height: 44px;
}

.dot {
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #808080;
  margin-right: 5px;
}

/* .pdot {
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  border: 1px none #808080;
  margin-right: 5px;
  text-align: center;
  font-size: 25px;
  vertical-align: top;
  padding-top: 0;
  margin-top: 0;
} */

.ddot {
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid black;
  margin-right: 5px;
  padding-top: 0;
  margin-top: 0;
  visibility: hidden;
}

.apr-5 {
  vertical-align: text-top;
  font-size: 12px;
  color: #d1453b;
}

.inbox {
  vertical-align: text-top;
  font-size: 12px;
  color: #808080;
}

.sidebar {
  min-height: 100vh;
  background-color: #FAFAFA;
}

.today {
  font-size: 20px;
    font-weight: 700;
    line-height: 25px;
}

.small {
  font-size: 12px;
  font-weight: 400;
  color: grey
}

.space {
  padding-top: 30px;
  padding-bottom: 30px;
}

.overdue {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 0;
}

.reschedule {
  font-size: 14px;
  color: #d1453b;
  margin-bottom: 0;
}

.reschedule:hover {
  text-decoration: underline;
  cursor: pointer;
}

.last-task {
  margin-bottom: 35px;
}

.plus {
  margin-left: 8px;
  margin-right: 8px;
}

.add-task {
  color: #808080;
}

.view {
  color: #808080;
  font-size: 12px;
  margin-left: 2px;
}

.view-span:hover {
  background-color: #EEEEEE;
  cursor: pointer;
  border-radius: 5px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.row-todo-give-better-name:hover {
  cursor: pointer;
}

.row-todo-give-better-name:hover .invisible-icons {
  visibility: visible;
}

.row-todo-give-better-name:hover .drag-dots {
  visibility: visible;
}

.drag-dots:hover {
  background-color: #EEEEEE;
  cursor: move;
  border-radius: 5px;
  visibility: visible;
}

/* .row-todo-give-better-name:hover .more {
  visibility: visible;
}

.row-todo-give-better-name:hover .comment {
  visibility: visible;
}

.row-todo-give-better-name:hover .due-date {
  visibility: visible;
}

.row-todo-give-better-name:hover .edit {
  visibility: visible;
} */

.list {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 7px;
}

.projects {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 7px;
}

.projects:hover {
  cursor: pointer;
}

.list:hover {
  background-color: #EEEEEE;
  cursor: pointer;
  border-radius: 5px;
}

.drag-dots {
  transform: translate(-26px, -2px);
  position: absolute;
  visibility: hidden; 
  fill: grey;
}

.more {
  fill: grey;
}

.more:hover{
  background-color: #EEEEEE;
  cursor: pointer;
  border-radius: 5px;
}

.comment {
  fill: grey;
}

.comment:hover{
  background-color: #EEEEEE;
  cursor: pointer;
  border-radius: 5px;
}


.due-date {
  fill: grey;
}

.due-date:hover{
  background-color: #EEEEEE;
  cursor: pointer;
  border-radius: 5px;
}

.edit {
  fill: grey;
}

.edit:hover{
  background-color: #EEEEEE;
  cursor: pointer;
  border-radius: 5px;
}


.inbox-div {
  display: flex;
}

.inbox-icon {
  padding-left: 2px;
  transform: translate(0px, 3px);
  fill: #246fe0;
}

.today-icon {
  fill: #058527;
}

.upcoming-icon {
  fill: #692fc2;
}

.filtersandlabels-icon {
  fill: #eb8909;
}

.invisible-icons {
  transform: translate(27px, 0px);
  visibility: hidden;
}

.top-right-icons-div {
  padding-right: 40px;
  fill: white;
}

.top-right-icons {
  margin-left: 6px;
}

.top-right-icon-one:hover {
  background-color: #EEEEEE45;
  cursor: pointer;
  border-radius: 5px;
}

.top-right-icon-two:hover {
  background-color: #EEEEEE45;
  cursor: pointer;
  border-radius: 5px;
}

.top-right-icon-three:hover {
  background-color: #EEEEEE45;
  cursor: pointer;
  border-radius: 5px;
}

.top-right-icon-four:hover {
  background-color: #EEEEEE45;
  cursor: pointer;
  border-radius: 5px;
}

.top-right-icon-five:hover {
  background-color: #EEEEEE45;
  cursor: pointer;
  border-radius: 5px;
}

.top-left-icon {
  margin-right: 7px;
  fill: white;
}

.top-left-icon-one:hover {
  background-color: #EEEEEE45;
  cursor: pointer;
  border-radius: 5px;
}

.top-left-icon-two:hover {
  background-color: #EEEEEE45;
  cursor: pointer;
  border-radius: 5px;
}


.top-left-div {
  margin-left: 40px;
}

.view-icon {
  fill: grey;
}

.search {
  color: #fff;
  background-color: #ffffff21;
  transition: background-color .15s cubic-bezier(.4,0,.2,1), transform 3s cubic-bezier(.4,0,.2,1);
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 5px 0 5px 34px;
  height: 30px;
  /* background: transparent url("data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path d="M39.8 41.95 26.65 28.8q-1.5 1.3-3.5 2.025-2 .725-4.25.725-5.4 0-9.15-3.75T6 18.75q0-5.3 3.75-9.05 3.75-3.75 9.1-3.75 5.3 0 9.025 3.75 3.725 3.75 3.725 9.05 0 2.15-.7 4.15-.7 2-2.1 3.75L42 39.75Zm-20.95-13.4q4.05 0 6.9-2.875Q28.6 22.8 28.6 18.75t-2.85-6.925Q22.9 8.95 18.85 8.95q-4.1 0-6.975 2.875T9 18.75q0 4.05 2.875 6.925t6.975 2.875Z"/>") */
}

.search::placeholder {
  color: #fff;
}

.search:hover {
  background-color: #fff;
  color: grey;
}

.search:hover::placeholder {
  color: grey;
}